.root {
  position: relative;
}

.input {
  border: 1px solid red;
  padding: 12px 20px;
  padding-left: 42px;
  margin-top: 15px;
  background: #ffffff;
  transform: scale3d(1, 1);
  width: 1250px;
  align-items: center;
  border-radius: 10px;
  font-size: 16px;

  &:focus {
    border: 1px solid rgb(255, 72, 0);
  }

  @media (max-width: 1400px) {
    width: 1000px;
  }

  @media (max-width: 1200px) {
    width: 800px;
  }

  @media (max-width: 1000px) {
    width: 600px;
  }

  @media (max-width: 800px) {
    width: 400px;
  }
  @media (max-width: 600px) {
    width: 200px;
  }
}

.icon {
  width: 22px;
  height: 22px;
  opacity: 0.3;
  margin-top: 15px;
  position: absolute;
  left: 14px;
  top: 12px;
}

.clearIcon {
  width: 18px;
  height: 18px;
  opacity: 0.3;
  margin-left: -35px;
  right: 15px;
  top: 17px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
